{% extends "layout.html" %}
{% block content %}
    <h3>Paso 2: Sube tu archivo y filtra</h3>
    <form action="/analyze" method="post" enctype="multipart/form-data">
        <label><b>1. Tu archivo de X:</b></label>
        <p><i>Sube el archivo tweets.json que solicitaste a Twitter. Este archivo solo se leerá en memoria y no será guardado.</i></p>
        <input type="file" name="archivo_tweets" accept=".json" required>
        
        <br><br><label><b>2. Filtros Dinámicos:</b></label>
        <input type="text" name="palabra" placeholder="Buscar palabra exacta...">
        
        <p>Temas:</p>
        <input type="checkbox" name="temas" value="Racismo"> Racismo
        <input type="checkbox" name="temas" value="Machismo"> Machismo
        <input type="checkbox" name="temas" value="Homofobia"> Homofobia
        
        <br><br>
        <button type="submit">🔍 Analizar Memoria</button>
    </form>
{% endblock %}